<% provide(:nombre, @proyecto.nombre) %>

<div class="row">
	<aside class="col-md-4">
		<section class="info_proyecto">
			<h1> <%= @proyecto.nombre %> </h1>
			<br/>id: 				<%= @proyecto.id %>
			<br/>descripcion: 		<%= @proyecto.descripcion %>
			<br/>coordenadas: 		<%= @proyecto.coordenadas %>
			<br/>estatus: 			<%= @proyecto.estatus %>
		</section>
	</aside>
</div>