<% provide(:name, 'Crear proyecto') %>
<h1>Crear proyecto</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= form_for(@project) do |f| %>
		<%= render 'shared/error_messages' %>
			<%= f.label :Nombre %>
			<%= f.text_field :name, class: 'form-control' %>
			
			<%= f.label :Descripción %>
			<%= f.text_area :description, class: 'form-control' %>
			
			<%= f.label :Coordenadas %>
			<%= f.text_field :coordinates, class: 'form-control' %>

			<%= f.label :Integrantes %>
			<%= f.text_field :users, 'data-role'=>'tagsinput', value:'', class: 'form-control' %>

			<%= f.submit "Crear proyecto", class: "btn btn-primary"%>
		<% end %>
	</div>
</div>




