<% provide(:name, @project.name) %>
<div class="row">
	<aside class="col-md-3">
		<section class="info_proyecto">
			<h1> <%= @project.name %> </h1>
			<br/>descripcion: 		<%= @project.description %>
			<br/>coordenadas: 		<%= @project.coordinates %>
			<br/>estatus: 			<%= @project.status %>
			<br/>Hashtags:			<%= @project.tag_list %>
		</section>
	</aside>
	<div class="tags-section">
    <%= render 'layouts/project_tags' %>
	</div>
  <div class = "members-section">
    <%= render 'layouts/project_members' %>
  </div>
</div>
<small> Submitted <%= time_ago_in_words(@project.created_at) %> ago</small>

<% #FIXME: Edit project's info in show view shouldn't be possible %>

<div class="comments-section">
	<h3> Comments </h3>
	<%= render partial: 'comments/template', 
						 locals: { commentable: @project, new_comment: @new_comment } %>
</div>
