<% provide(:name, @project.name) %>

<div class="row">
	<aside class="col-md-4">
		<section class="info_proyecto">
			<h1> <%= @project.name %> </h1>
			<br/>id: 				<%= @project.id %>
			<br/>descripcion: 		<%= @project.description %>
			<br/>coordenadas: 		<%= @project.coordinates %>
			<br/>estatus: 			<%= @project.status %>
		</section>
	</aside>
</div>