<h1>Dashboard#Show</h1>
<p>User: <%= @user.email%></p>
<%= link_to 'Salir', destroy_user_session_path, :method => 'delete' %> <br />

<% if @user.complete? %>
  <%= link_to 'Crear Proyecto', new_project_path %> <br />
<% else %>
  <p>Llena tu informacion para crear un proyecto</p><br />
  <%= render 'layouts/complete_user' %>
<% end %>

<%= link_to 'Editar Info', edit_user_registration_path %></p>
