<% provide(:title, "Hola! #{@user.name}") %>
<h1>Dashboard#Show</h1>
<p>Email: <%= @user.email %></p>
<p>Nombre <%= @user.name %></p>
<%= link_to 'Editar Info', edit_user_registration_path %></p>
<%= link_to 'Salir', destroy_user_session_path, :method => 'delete' %> <br />

<% if @user.complete? %>
  <%= link_to 'Crear Proyecto', new_project_path %> <br />
<% else %>
  <p>Necesitamos que nos des un poco de informacion para que crees tu primer proyecto</p><br />
  <%= render 'layouts/complete_user' %>
<% end %>

<% if !@projects.empty? %>
  <h2>Tus proyectos</h2>
  <%= render 'layouts/show_projects' %>
<% else %>
	<h2>No has creado ningun proyecto</h2>
<% end %>
