<% provide(:title, "Hola! #{@user.name}") %>
<h1>Dashboard#Show</h1>
<p>Email: <%= @user.email %></p>
<p><%= t ".name" %>: <%= @user.name %></p>
<%= link_to t(".edit_info"), edit_user_registration_path %></p>
<%= link_to t(".exit"), destroy_user_session_path, :method => 'delete' %> <br />

<% if @user.complete? %>
  <%= link_to t(".create_project"), new_project_path %> <br />
<% else %>
	<p> <%= t ".incomplete_info_warning" %> </p><br />
  <%= render 'layouts/complete_user' %>
<% end %>

<% if !@projects.empty? %>
	<h2> <%= t ".your_projects" %> </h2>
  <%= render 'layouts/show_projects' %>
<% else %>
	<h2> <%= t ".no_projects_created" %> </h2>
<% end %>
