<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Toduni", '/', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
<<<<<<< HEAD
      <% if user_signed_in? %>
        <li><%= link_to "Dashboard",   dashboard_path(@user) %></li>
        <li><%= link_to "Salir",   destroy_user_session_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Registrate",   new_user_registration_path %></li>
        <li><%= link_to "Ingresa",   new_user_session_path %></li>
      <% end %>
=======
        <li><%= link_to "Users",   '/users/sign_up' %></li>
        <li><%= link_to "Proyectos",   '/projects/new' %></li>
>>>>>>> create-projects
      </ul>
    </nav>
  </div>
</header>