<% if @project.picture.file.nil? and @project.owner? @user %>
  <%= form_for(@project, url: update_picture_path(@project)) do |f| %>
    <%= f.label :Foto %>
    <%= f.file_field :picture, accept: 'image/jpeg, image/png' %> 
    <div class ="actions">
      <%= f.submit "Agregar imagen" %>
    </div>
  <% end %>
<% else %>
  <% if @project.picture.file.nil? %>
    <p>No hay imagen aún</p>
  <% else %>
    <%= image_tag @project.picture, :class => "cover_picture" %>
  <% end %>
<% end %>
