<h3>Miembros</h3>
<% #FIX: hidden id field in members %>
<%= form_for(@project, url:add_members_path(@project)) do |f|  %>
	<div class="fields">
		<%= f.text_field :email %>
	</div>
	<div class="actions">
		<%= f.submit "Agregar" %>
	</div>
<% end %>
<div class="members">
  <ul>
    <li class="owner"><%= link_to @owner.name, profile_path(@owner) %>
  <% @members.each do |member| %>
    <li class="member"><%= link_to member.name, profile_path(member) %></li>
  <% end %>
  </ul>
</div>
<!--<script type="text/javascript">
	$('#project_picture').bind('change', function() {
		var size_in_megabytes = this.files[0].size/1024/1024;
		if (size_in_megabytes > 5) {
			alert('El tamaño máximo de la imagen es de 5MB. Elige una imagen menos pesada.');
		}
	})
</script>-->
