<li>
	<%= image_tag comment.user.avatar.url, :class => "img_commenter" unless comment.user.avatar.file.nil? %>
  <%= comment.body %> -
	<small>Submitted <%= time_ago_in_words(comment.created_at) %> ago - by <%= comment.user.name %></small>

	<% #TODO: Show profile picture %>
	<% #TODO: Hide reply comment box under reply button %>
	<% #TODO: Show user's name %>
	<% #TODO: Delete comment %>
	<% #TODO: Cancel commnet %>
	<% #TODO: Display comment's count %>
	<% if user_signed_in? %>
		<%= form_for [comment, Comment.new] do |f| %>
			<%= f.text_area :body, placeholder: "Add a Reply", :class => "reply_box" %><br/>
			<%= f.submit "Reply", :class => "reply_button"  %>
		<% end %>
	<% end %>

  <ul>
      <%= render partial: 'comments/comment', collection: comment.comments %>
  </ul>

</li>
