<% comments.each do |comment| %>
	<li>
  <div class="comments-show">
    <div class="comment">
			<%= image_tag comment.user.avatar.url, :class => "img_commenter" unless comment.user.avatar.file.nil? %>
			<small>
				<b> <%= comment.user.name %></b> -
				<%= time_ago_in_words(comment.created_at) %> ago 
				<% if comment.created_at != comment.updated_at %>
					<small>
					(last edited <%= time_ago_in_words(comment.updated_at) %> ago)
					</small>
				<% end %>
			</small>
      <p><%= comment.body %><br></p>
			<% unless @new_comment.blank? %>
				<div class="comment-nav"><a href="#" class="comment-reply">reply</a></div>
				<div class="reply-form">
					<%= form_for @new_comment do |f| %>
						<%= f.hidden_field :commentable_id, value: @new_comment.commentable_id %>
						<%= f.hidden_field :commentable_type, value: @new_comment.commentable_type %>
						<%= f.hidden_field :comment_id, value: comment.id %>
						<div class="field form-group">
							<%= f.text_area :body, class: 'form-control' %>
						</div>
						<div class="field form-group">
							<%= submit_tag "Post Reply", class: 'btn btn-primary' %>
						</div>
					<% end %>
				</div>
			<% end %>
    </div>
		<ul>
    <%= render partial: "comments/reply", locals: {comments: comment.children} %>
		</ul>
  </div>
	</li>
<% end %>
